/*
##########
         Universal Rules
##########
*/
html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  color: white;
}

div {
  display: block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
/*
##########
         Header
##########
*/

header {
  background-color: black;
  color: white;
}

.name {
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0.5rem;
}

.name img{
  height: 1.5rem;
  padding-right: 15px;
}

.name span {

  font-size: 1rem;

}


/*
##########
         Main Image
##########
*/

.main-image {
  background-image: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  padding-top: 7rem;
}

.headline {
  width: 20rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 2rem 3rem;

}

.headline h4 {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}


}
/*
##########
         Navigation Bar
##########
*/

.navigation{
  background-color: firebrick;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
}

/*
##########
         Main Part
##########
*/

.items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.item {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;

}
  .item-img img {
   max-width: 8rem;
   max-height: auto;
   display: block;


  }



.item span {
  display: block;
  background-color: black;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}



/*
##########
         Info
##########
*/

.infos {
  display: flex;
  justify-content: space-between;
}

.info {
 display: flex;
  flex-direction: column;
  width: 35%;
}

.infospan {
background-color: black;
padding: 1rem 2rem;
display: block;
}

.numbers {
  color: black;
}

/*
##########
         Footer
##########
*/

footer {
  background-color: black;
  margin-top: 4rem;
}

footer .container {
    padding: 5em 0;
    text-align: left;
}
